@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

html,

body {
  height: 100%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background: linear-gradient(to right,rgb(173, 32, 98),rgb(148, 37, 105),blue);
  line-height: 1.6;

}

header {
background-color: rgb(250, 249, 251);
color: rgb(43, 79, 141);
border-radius:20vw ;
text-align: center;
align-items: center;
justify-content: center;
background:linear-gradient(pink,blueviolet,rgb(206, 68, 202)); 

}

.principal {
  flex: 0px;
  background: linear-gradient(to right,rgb(173, 32, 98),rgb(148, 37, 105),blue);
  font-size: 22px;
}

.parrafo {
  color: rgb(8, 8, 8);
  font-family: Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-decoration: line;
  text-transform: uppercase;
  padding: 100px;
  border-width: 100px;
  border-style: dashed;
  border-color: rgb(39, 201, 104);
  border-radius: 20vw;
  background: linear-gradient(to right,rgb(173, 32, 98),rgb(148, 37, 105),blue);

}

.fecha {
  position: relative;
  right: 0;
  font-size: 20px;
  align-items:center;
  justify-content: flex-start;
}

.imagen-1{
order: 2;
}

.imagen-2{
order:1
}

.container {
  display: flex;
  justify-content:center;
  align-items: center;
  width: 26ovw;
  margin: 20px auto;
  box-shadow: i;
  max-width: fit-content;
  background: linear-gradient(to right,rgb(173, 32, 98),rgb(148, 37, 105),blue);

}

.col {
  background-color:rgb(245, 243, 245);
  width: 300px;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  background: linear-gradient(to right,rgb(173, 32, 98),rgb(148, 37, 105),blue);

}

@media (min-width:0px)and(max-width:767px){

}

body {
  background-color: rgb(216, 212, 214);
  background: linear-gradient(to right,rgb(173, 32, 98),rgb(148, 37, 105),blue);


}


@media (min-width:768px) and (max-width: 1024px) {
  body {
  background-color: rgb(215, 210, 214);
  }
  }

  .nav ul {
    flex-direction: column;
  }


@media (min-width:1024px) {
  body{
  background-color: rgb(206, 203, 204);
  color: rgb(221, 216, 218);
  }
}

nav ul {
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}

nav a {
  color:rgb(245, 242, 243);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color:rgb(247, 240, 244);
}


